<section class="section section-benefits">
    <div class="container">
        <div class="section-name-bg">Benefits</div>
        <div class="flexible">
            <div class="row-half">
                <div class="section-name" data-aos="fade-right"><h3>Traders Benefits</h3></div>
                <div class="section-point" data-aos="fade-right" data-aos-delay="200">
                    <div class="name"><h4>Copying other traders</h4></div>
                    <div class="block-text">
                        Once registred you could find traders you’ll like to copy. Using Sociumtrade’s tools you can filter and find traders of interest
                    </div>
                </div>
                <div class="section-point" data-aos="fade-right" data-aos-delay="400">
                    <div class="name"><h4>Attracting investment from community</h4></div>
                    <div class="block-text">
                        Sociumtrade allows traders to setup fundraising campaigns to attract investment from interested parties
                    </div>
                </div>
                <div class="section-point" data-aos="fade-right" data-aos-delay="600">
                    <div class="name"><h4>Smart contracts</h4></div>
                    <div class="block-text">
                        Any contracts traders enter in with investors is powered by blockchain
                    </div>
                </div>
            </div>
            <div class="row-half">
                <div class="section-benefits-image" data-aos="fade-left" data-aos-delay="200">
                    <img src="images/benefits-pic/notebook.png"/>
                    <div class="section-benefits-image-inner">
                        <img src="images/benefits-pic/trader.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>