<section class="section bg-dark section-contacts" id="contacts">
    <div class="container">
        <div class="section-name-bg">Contacts</div>
        <div class="flexible">
            <div class="row-half">
                <div class="section-name" data-aos="fade-right"><h3>Subscribe to news</h3></div>
                <div class="nav-social" data-aos="fade-right" data-aos-delay="200">
                    <a href="#"><i class="icon icon-github"></i></a>
                    <a href="#"><i class="icon icon-fb"></i></a>
                    <a href="#"><i class="icon icon-tel"></i></a>
                    <a href="#"><i class="icon icon-you"></i></a>
                </div>
            </div>
            <div class="row-half">
                <div class="section-name no-number" data-aos="fade-left" data-aos-delay="300"><h3>Join our community</h3></div>
                <div class="section-form" data-aos="fade-left" data-aos-delay="500">
                    <form class="flexible">
                        <input  type="text" class="form-control" placeholder="Enter your e-mail">
                        <a href="#" class="btn btn-primary">Subscribe</a>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>