<script type="text/javascript" src="../sphere/requestanimationframe.polyfill.js"></script>
<script type="text/javascript" src="../sphere/jquery-ui.min.js"></script>
<script type="text/javascript" src="../sphere/sphere-hacked.js"></script>
<script type="text/javascript" src="../sphere/jquery.earth-3d.js"></script>
<script type="text/javascript" src="../sphere/demo.js"></script>
<div class="earth-sphere">
    <canvas id="sphere" width="1140" height="1140"></canvas>
    <div id="glow-shadows"></div>
    <canvas id="flights" width="1140" height="1140"></canvas>
    <div id="locations"></div>
</div>