<section class="section section-faq" id="faq">
    <div class="container">
        <div class="section-name-bg">FAQ</div>
        <div class="section-name" data-aos="fade-right"><h3>Frequently asked questions</h3></div>
        <div class="section-faq-question">
            <div class="section-faq-question-item" data-aos="flip-down" data-aos-delay="100">
                <a class="question">
                    <div class="flexible center between">
                    <h4>How to buy SociumTrade tokens?</h4>
                        <i class="icon icon-faq-arrow"></i>
                    </div>
                </a>
                <div class="answer">
                    <div class="block-text">
                        You can check the number of SociumTrade tokens through your account on the sociumtrade.io website.
                    </div>
                </div>
            </div>
            <div class="section-faq-question-item"  data-aos="flip-down" data-aos-delay="200">
                <a class="question">
                    <div class="flexible center between">
                    <h4>How can I check how many SociumTrade tokens I have?</h4>
                        <i class="icon icon-faq-arrow"></i>
                    </div>
                </a>
                <div class="answer">
                    <div class="block-text">
                        You can check the number of SociumTrade tokens through your account on the sociumtrade.io website.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>