<section class="section section-features" id="features">
    <div class="container">
        <div class="section-name-bg">Features</div>
        <div class="flexible">
            <div class="row-three">
                <div class="flexible wrap full-height">
                    <div class="col-full"><div class="section-name" data-aos="fade-right"><h3>Sociumtrade features</h3></div></div>
                    <div class="col-full col-end">
                        <div class="section-button" data-aos="fade-right" data-aos-delay="600">
                            <a class="btn btn-primary"><i class="icon icon-whitepaper icon-left icon-middle"></i> Whitepaper</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-double-three">
                <div class="section-point" data-aos="fade-left" data-aos-delay="200">
                    <div class="flexible">
                        <div class="image"><i class="icon icon-transparency"></i></div>
                        <div class="section-point-text">
                            <div class="name"><h4>Transparency</h4></div>
                            <div class="block-text">Utilizing Blockchain ensurance that all transactions are transparent and dependent on rules defined on smart contract</div>
                        </div>
                    </div>
                </div>
                <div class="section-point" data-aos="fade-left" data-aos-delay="400">
                    <div class="flexible">
                        <div class="image"><i class="icon icon-verify"></i></div>
                        <div class="section-point-text">
                            <div class="name"><h4>Background verification</h4></div>
                            <div class="block-text">
                                Sociumtrade complements its internal verification process with external measures to ensure it knows who its traders are. This is important to bulding our community
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-point" data-aos="fade-left" data-aos-delay="400">
                    <div class="flexible">
                        <div class="image"><i class="icon icon-social"></i></div>
                        <div class="section-point-text">
                            <div class="name"><h4>Social integration</h4></div>
                            <div class="block-text">
                                Sociumtrade allows you to diversify your portfolios bu copying investment techniques and strategies employed bu others. Social trading reduced the learning curve fo novice investors. Tools are also available to investors to review traders transactions.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>