<section class="section section-intro">
    <div class="container text-center">
        <h1 data-aos="fade-up">First social Trading Platform</h1>
        <div class="section-text" data-aos="fade-up" data-aos-delay="300">
            using smart contract, powered by blockchain
        </div>
        <div class="section-button" data-aos="zoom-in-up" data-aos-delay="600">
            <a class="btn btn-primary">Buy tokens</a>
            <a class="btn btn-outline-primary">Whitepaper</a>
        </div>
        <div class="section-timer" data-aos="zoom-in-up" data-aos-delay="800">
            <div class="getting-started"></div>
        </div>
        <div class="section-intro-earth" id="earth" data-aos="zoom-in-up" data-aos-delay="1000">
            <div class="shadow"></div>
            <div class="earth">{% include "parts/_earth.html" %}</div>
        </div>
        <div class="section-intro-video" data-aos="zoom-in-up" data-aos-delay="1000">
            <a href="" class="btn btn-play"><i class="icon icon-play icon-middle"></i></a>
            <div class="block-text">Watch video</div>
        </div>
    </div>
</section>