<section class="section section-roadmap" id="roadmap">
    <div class="container">
        <div class="section-name-bg">Roadmap</div>
        <div class="section-name" data-aos="fade-right"><h3>Roadmap</h3></div>
        <div class="section-roadmap-event">
            <div class="section-roadmap-event-item" data-aos="fade-up" data-aos-delay="100">
                <div class="event">May 2018</div>
                <div class="description">
                    <div class="circle-point"></div>
                    <h4>Launch platform</h4>
                    <div class="block-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-event-item" data-aos="fade-up" data-aos-delay="200">
                <div class="event">May 2018</div>
                <div class="description">
                    <div class="circle-point"></div>
                    <h4>Ability to diversify copy allocation</h4>
                    <div class="block-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-event-item" data-aos="fade-up" data-aos-delay="300">
                <div class="event">Aug 2018</div>
                <div class="description">
                    <div class="circle-point"></div>
                    <h4>Add stocks</h4>
                    <div class="block-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-event-item" data-aos="fade-up" data-aos-delay="400">
                <div class="event">Sept 2018</div>
                <div class="description">
                    <div class="circle-point"></div>
                    <h4>Add indicies</h4>
                    <div class="block-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-event-item" data-aos="fade-up" data-aos-delay="500">
                <div class="event">Jan 2019</div>
                <div class="description">
                    <div class="circle-point"></div>
                    <h4>Launch in the US</h4>
                    <div class="block-text">
                        Launch in the US
                    </div>
                </div>
            </div>
        </div>
        <div class="section-roadmap-details">
            <div class="flexible justify-center">
                <div class="col-auto">
                    <div class="section-roadmap-details-item text-right" data-aos="fade-down-right" data-aos-delay="200">
                        <div class="name flexible center end">
                            <h4>Traders</h4>
                            <div class="circle-icon"><i class="icon icon-middle icon-traders"></i></div>
                        </div>
                        <div class="block-text">
                            Copy professional traders or even back their investment campaigns
                        </div>
                    </div>
                    <div class="section-roadmap-details-item text-right" data-aos="fade-up-right" data-aos-delay="200">
                        <div class="name flexible center end">
                            <h4>Smart contract</h4>
                            <div class="circle-icon"><i class="icon icon-middle icon-scontracts"></i></div>
                        </div>
                        <div class="block-text">
                            Contracts on Sociumtrade are transparent and powered by Blockchain
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="section-roadmap-details-logo">
                        <div class="flexible full-height center justify-center">
                            <div class="logo"></div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="section-roadmap-details-item" data-aos="fade-down-left" data-aos-delay="200">
                        <div class="name flexible center">
                            <div class="circle-icon"><i class="icon icon-middle icon-investors"></i></div>
                            <h4>Investors</h4>
                        </div>
                        <div class="block-text">
                            Invest into both fiat and cryptocurrencies, indices and comodities across all the popular financial markets
                        </div>
                    </div>
                    <div class="section-roadmap-details-item" data-aos="fade-up-left" data-aos-delay="200">
                        <div class="name flexible center">
                            <div class="circle-icon"><i class="icon icon-middle icon-assets"></i></div>
                            <h4>Assets</h4>
                        </div>
                        <div class="block-text">
                            All major cryptocurrency and fiat pairs available in addition to various stocks
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>