<section class="section bg-dark section-sale" id="sale">
    <div class="container">
        <div class="section-name-bg">Sale</div>
        <div class="section-name" data-aos="fade-right"><h3>Join token sale</h3></div>
        <div class="section-sale-round flexible center between">
            <div class="section-sale-round-item inactive" data-aos="flip-left" data-aos-delay="100">
                <div class="name">PRE-SALE ROUND</div>
                <div class="percent">
                    -40<span class="super">%</span>
                </div>
                <div class="convert"><span class="blue">1 SOC</span> <i class="icon icon-middle icon-round-arrow"></i> 6.00 USD </div>
                <div class="date">
                    Sales end
                </div>
            </div>
            <div class="section-sale-round-item" data-aos="flip-left" data-aos-delay="300">
                <div class="name">ROUND 1</div>
                <div class="percent">
                    -25<span class="super">%</span>
                </div>
                <div class="convert"><span class="blue">1 SOC</span> <i class="icon icon-middle icon-round-arrow"></i> 7.50 USD</div>
                <div class="date flexible between center">
                    <div class="date-number">
                        15
                        <div class="date-title">Days</div>
                    </div>
                    <div class="date-number">
                        14
                        <div class="date-title">Hours</div>
                    </div>
                    <div class="date-number">
                        27
                        <div class="date-title">Minutes</div>
                    </div>
                    <div class="date-number">
                        23
                        <div class="date-title">Seconds</div>
                    </div>
                </div>
            </div>
            <div class="section-sale-round-item" data-aos="flip-left" data-aos-delay="400">
                <div class="name">ROUND 2</div>
                <div class="percent">
                    -15<span class="super">%</span>
                </div>
                <div class="convert">1 SOC <i class="icon icon-middle icon-round-arrow"></i> 8.50 USD</div>
                <div class="date">
                    Start 15 Jan.
                </div>
            </div>
        </div>
        <div class="section-button text-center" data-aos="zoom-in-up" data-aos-delay="600">
            <a href="#" class="btn btn-primary">BUY TOKENs</a>
        </div>
    </div>
</section>