<section class="section section-statistics">
    <div class="container text-center">
        <h2 data-aos="fade-up">ICO statistics</h2>
        <div class="section-statistics-info flexible between">
            <div class="section-statistics-info-item text-right" data-aos="zoom-in-right" data-aos-delay="300">
                <div class="flexible end">
                    <div class="text">
                        Token supply
                        <div class="value">10 000 000</div>
                    </div>
                    <div class="circle-point"></div>
                </div>
            </div>
            <div class="section-statistics-info-item text-center" data-aos="zoom-in-up" data-aos-delay="500">
                <div class="circle-point"></div>
                <div class="text">
                    Token puchased
                    <div class="value">600 000</div>
                </div>

            </div>
            <div class="section-statistics-info-item text-left" data-aos="zoom-in-left" data-aos-delay="400">
                <div class="flexible">
                    <div class="circle-point"></div>
                    <div class="text">
                        Raised during presale
                        <div class="value">$625 000</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-button" data-aos="zoom-in-up" data-aos-delay="600">
            <a class="btn btn-primary">Join token sale</a>
        </div>
    </div>
</section>