<section class="section section-team" id="team">
    <div class="container">
        <div class="section-name-bg">Team</div>
        <div class="section-name" data-aos="fade-right"><h3>Meet our team</h3></div>
        <div class="flexible wrap between">
            <div class="section-team-item" data-aos="fade-up" data-aos-delay="200">
                 <div class="image" style="background-image:url('images/uncut.jpg')">
                     <div class="name">
                         <h4>Mathew Lane</h4>
                         <div class="position">CSO (Chief Strategy Officer)</div>
                         <div class="link">
                             <a href="#" class="link link-social"><i class="icon icon-middle icon-linkedin"></i></a>
                             <a href="#" class="link link-social"><i class="icon icon-middle icon-github"></i></a>
                         </div>
                     </div>
                 </div>
                <div class="text">
                        Business Analyst, Blockchain Enthusiast, MBA. Supervisor of startup projects, expert in trademark rights (IT sphere).
                </div>
            </div>
            <div class="section-team-item" data-aos="fade-up" data-aos-delay="200">
                <div class="image" style="background-image:url('images/uncut.jpg')">
                    <div class="name">
                        <h4>Mathew Lane</h4>
                        <div class="position">CSO (Chief Strategy Officer)</div>
                        <div class="link">
                            <a href="#" class="link link-social"><i class="icon icon-middle icon-linkedin"></i></a>
                            <a href="#" class="link link-social"><i class="icon icon-middle icon-fb"></i></a>
                            <a href="#" class="link link-social"><i class="icon icon-middle icon-tel"></i></a>
                        </div>
                    </div>
                </div>
                <div class="text">
                    Business Analyst, Blockchain Enthusiast, MBA. Supervisor of startup projects, expert in trademark rights (IT sphere).
                </div>
            </div>
            <div class="section-team-item" data-aos="fade-up" data-aos-delay="200">
                 <div class="image" style="background-image:url('images/uncut.jpg')">
                     <div class="name">
                         <h4>Mathew Lane</h4>
                         <div class="position">CSO (Chief Strategy Officer)</div>
                         <div class="link"><a href="#" class="link link-social"><i class="icon icon-middle icon-linkedin"></i></a></div>
                     </div>
                 </div>
                <div class="text">
                        Business Analyst, Blockchain Enthusiast, MBA. Supervisor of startup projects, expert in trademark rights (IT sphere).
                </div>
            </div>
            <div class="section-team-item" data-aos="fade-up" data-aos-delay="200">
                <div class="image" style="background-image:url('images/uncut.jpg')">
                    <div class="name">
                        <h4>Mathew Lane</h4>
                        <div class="position">CSO (Chief Strategy Officer)</div>
                        <div class="link"><a href="#" class="link link-social"><i class="icon icon-middle icon-linkedin"></i></a></div>
                    </div>
                </div>
                <div class="text">
                    Business Analyst, Blockchain Enthusiast, MBA. Supervisor of startup projects, expert in trademark rights (IT sphere).
                </div>
            </div>
            <div class="section-team-item" data-aos="fade-up" data-aos-delay="200">
                <div class="image" style="background-image:url('images/uncut.jpg')">
                    <div class="name">
                        <h4>Mathew Lane</h4>
                        <div class="position">CSO (Chief Strategy Officer)</div>
                        <div class="link"><a href="#" class="link link-social"><i class="icon icon-middle icon-linkedin"></i></a></div>
                    </div>
                </div>
                <div class="text">
                    Business Analyst, Blockchain Enthusiast, MBA. Supervisor of startup projects, expert in trademark rights (IT sphere).
                </div>
            </div>
            <div class="section-team-item" data-aos="fade-up" data-aos-delay="200">
                <div class="image" style="background-image:url('images/uncut.jpg')">
                    <div class="name">
                        <h4>Mathew Lane</h4>
                        <div class="position">CSO (Chief Strategy Officer)</div>
                        <div class="link"><a href="#" class="link link-social"><i class="icon icon-middle icon-linkedin"></i></a></div>
                    </div>
                </div>
                <div class="text">
                    Business Analyst, Blockchain Enthusiast, MBA.
                </div>
            </div>
        </div>
        <div class="section-button text-center" data-aos="zoom-in-up" data-aos-delay="600">
            <a href="#" class="btn btn-outline-primary">Show all team <i class="icon icon-btn-arrow icon-middle icon-right"></i></a>
        </div>

    </div>
</section>