<section class="section section-token" id="token">
    <div class="container">
        <div class="section-name-bg">Tokens</div>
        <div class="section-name" data-aos="fade-right"><h3>Token allocation</h3></div>
        <div class="section-token-chart" data-aos="fade-up" data-aos-delay="200">
            <div class="section-token-chart-point" style="top:3%;left:73%;">
                <div class="circle-point gray"></div>
                <div class="text"><div class="percent">15%</div>Marketing</div>
            </div>
            <div class="section-token-chart-point" style="top:42%;left:98%;">
                <div class="circle-point gray"></div>
                <div class="text"><div class="percent">15%</div>Reserve</div>
            </div>
            <div class="section-token-chart-point" style="top:78%;left:87%;">
                <div class="circle-point gray"></div>
                <div class="text"><div class="percent">10%</div>Team</div>
            </div>
            <div class="section-token-chart-point left" style="top:50%;left:-27%;">
                <div class="circle-point gray"></div>
                <div class="text"><div class="percent">60%</div>Public</div>
            </div>
            <canvas id="doughnut-chart" width="400" height="400"></canvas>
        </div>
    </div>
</section>