    </div>
    <footer class="footer">
        <div class="container">
            <div class="flexible between">
                <div class="footer-info">
                    <div class="flexible wrap full-height">
                        <div class="col-full logo"><img src="images/logo.svg" alt=""></div>
                        <div class="col-full col-end">
                            <div class="footer-info-item">
                                <i class="icon icon-address"></i>Am Pl. 3, 7310 Bad Ragaz, Switzerland
                            </div>
                            <div class="footer-info-item">
                                <i class="icon icon-mail"></i>support@sociumtrade.io
                            </div>
                            <div class="footer-info-item">
                                <i class="icon icon-mail"></i>marketing@sociumtrade.io
                            </div>
                            <div class="footer-info-copy">
                                Copyright © 2018 Sociumtrade. All rights reserved
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-nav">
                    <h4>About project</h4>
                    <ul class="nav-down">
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Roadmap</a></li>
                        <li><a href="#">Token sale</a></li>
                        <li><a href="#">Token allocation</a></li>
                        <li><a href="#">Project Team</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer-nav">
                    <h4>Documentation</h4>
                    <ul class="nav-down">
                        <li><a href="#">Whitepaper</a></li>
                        <li><a href="#">Lightpaper</a></li>
                        <li><a href="#">Presentation</a></li>
                    </ul>
                    <ul class="nav-down small">
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/scrollspy.js"></script>
<script src="js/script.js"></script>
</body>
</html>
