<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Socium Trade Ico</title>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet" type="text/css"><!--was generated from sass-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <script src="js/jquery-3.2.1.min.js"></script>
</head>
<body data-spy="scroll" data-target="#navbar-main" data-offset="72">
<div class="wrapper">
    <header data-aos="fade-down">
        <div class="padding-block flexible center between">
            <div class="header-navigate flexible center">
                <div class="logo"><img src="images/logo.svg" alt=""></div>
                {% include "_nav.html" %}
            </div>
            <div class="header-sub-navigate">
                <ul class="nav nav-main">
                    <li>
                        <div class="dropdown">
                            <a class="href-dropdown"><i class="icon icon-doc icon-left icon-middle"></i>Documentation</a>
                            <div class="menu-dropdown">
                                <a href="#">Whitepaper</a>
                                <a href="#">Lightpaper</a>
                                <a href="#">Presentation</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a class="href-dropdown"><i class="icon icon-lang icon-left icon-middle"></i><span class="change-value">ENGLISH</span></a>
                            <div class="menu-dropdown">
                                <a class="active">ENGLISH</a>
                                <a>Russian</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header-mobile-navigate">
                <a class="btn btn-menu"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
            </div>
        </div>
    </header>
    <div class="border-bg"><div class="border-bg-line"></div><div class="border-bg-impulse"></div></div>
    <div class="nav-social-scroll">
        <a href="#"><i class="icon icon-github"></i></a>
        <a href="#"><i class="icon icon-fb"></i></a>
        <a href="#"><i class="icon icon-tel"></i></a>
        <a href="#"><i class="icon icon-you"></i></a>
    </div>
    <div class="cursor-scroll hide-scroll">
        <div class="name">scroll</div>
        <div class="mouse"></div>
    </div>

    <div class="main">