<nav class="nav-main navbar-collapse" id="navbar-main">
    <div class="header-mobile-navigate">
        <div class="logo"><img src="images/logo.svg" alt=""></div>
    </div>
    <ul class="nav">
        <li><a href="#features" class="scroll-page">FeatureS</a></li>
        <li><a href="#roadmap" class="scroll-page">Roadmap</a></li>
        <li><a href="#sale" class="scroll-page">Token sale</a></li>
        <li><a href="#token" class="scroll-page">Token allocation</a></li>
        <li><a href="#team" class="scroll-page">Team</a></li>
        <li><a href="#faq" class="scroll-page">FAQ</a></li>
        <li><a href="#contacts" class="scroll-page">CONTACTS</a></li>
    </ul>
    <div class="header-mobile-navigate">
        <ul class="nav nav-dropdown">
            <li>
                <div class="dropdown">
                    <a class="href-dropdown"><i class="icon icon-doc icon-left icon-middle"></i>Documentation</a>
                    <div class="menu-dropdown">
                        <a href="#">Whitepaper</a>
                        <a href="#">Lightpaper</a>
                        <a href="#">Presentation</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a class="href-dropdown"><i class="icon icon-lang icon-left icon-middle"></i><span class="change-value">ENGLISH</span></a>
                    <div class="menu-dropdown">
                        <a class="active">ENGLISH</a>
                        <a>Russian</a>
                    </div>
                </div>
            </li>
        </ul>
        <a class="btn btn-primary">Buy tokens</a>
        <div class="nav-social-scroll">
            <a href="#"><i class="icon icon-github"></i></a>
            <a href="#"><i class="icon icon-fb"></i></a>
            <a href="#"><i class="icon icon-tel"></i></a>
            <a href="#"><i class="icon icon-you"></i></a>
        </div>
    </div>
</nav>
